

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  li {
    margin-bottom: 10px;
  }
  li strong {
    font-weight: bold;
    margin-right: 10px;
  }
  p {
    margin-bottom: 20px;
  }
  strong {
    font-weight: bold;
  }